<app-header></app-header>
<!-- <app-tabs></app-tabs> -->

<div class="body-container">
  <!-- Left column: Profile only -->
  <div class="left-column">
    <app-profile></app-profile>
  </div>

  <!-- Right column: Graph + Tabs content -->
  <div class="right-column">
    <div class="tabs-content">
      <!-- Place your tabs content here -->
      <app-tabs></app-tabs>
    </div>
    <app-contribution-graph></app-contribution-graph>
    
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="footer-content">
    <p>© 2025 UptimeAI. All rights reserved.</p>
    <div class="footer-links">
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
      <a href="#">Contact</a>
    </div>
  </div>
</footer>
