<div class="tabs-container">
    <mat-tab-group mat-stretch-tabs backgroundColor="primary">
  
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>info</mat-icon> Overview
        </ng-template>
        <div class="tab-content">
          <h3>Overview</h3>
          <p>This is the overview section.</p>
        </div>
      </mat-tab>
  
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>folder</mat-icon> Repositories
        </ng-template>
        <div class="tab-content">
          <h3>Repositories</h3>
          <p>Repositories will be displayed here.</p>
        </div>
      </mat-tab>
  
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>assignment</mat-icon> Projects
        </ng-template>
        <div class="tab-content">
          <h3>Projects</h3>
          <p>Your active projects appear here.</p>
        </div>
      </mat-tab>
  
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>book</mat-icon> Packages
        </ng-template>
        <div class="tab-content">
          <h3>Packages</h3>
          <p>Published packages are listed here.</p>
        </div>
      </mat-tab>
  
    </mat-tab-group>
  </div>
  